.app {
  margin: var(--window-margin);
  height: calc(100vh - var(--window-margin) * 2);
  width: calc(100vw - var(--window-margin) * 2);
  display: grid;
  grid-template-columns: var(--main-side-panel-width) 1fr;
  grid-template-rows: 1fr;
  grid-gap: 20px;
}