.channelWindow {
  display: grid;
  grid-template-columns: var(--chats-list-width) 1fr;
  grid-template-rows: 1fr;
  background: var(--background-secondary);
  border-radius: 10px;
}

.channelSidebar {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: var(--channel-name-height) 1fr;
  background: var(--background-dark);
  border-radius: 10px;
  user-select: none;
}

.main {
  height: calc(100vh - var(--window-margin) * 2);
  padding: 10px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 50px 1fr auto;
  gap: 1px;
}
