.wrapper {
  background: var(--background-secondary);
  border-radius: 10px;
  padding: 15px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.logo {
  width: 40px;
  height: 40px;
  background: url('../../assets/logo-2.svg') no-repeat center / contain;
}


.wrapper > div:last-of-type {
  display: flex;
  flex-direction: column;
  align-items: center;
}