.wrapper {
  position: relative;
  overflow: hidden;
  border-radius: 10px;
}

.background {
  position: absolute;
  width: 100%;
  height: 100%;
  filter: blur(10px);
  z-index: -1;
}

.card {
  padding: 10px;
  border-radius: 10px;
  background: var(--background-secondary);
  min-width: 400px;
}

.channelName {
  font-weight: 600;
  color: #fff;
}

.membersCount,
.membersCount * {
  font-weight: 500;
  font-size: 15px;
}

.joinButton {
  background: var(--purple-500);
}