.chatWindow {
  border-radius: 10px;
  padding-right: 5px;
  overflow-y: auto;
  overflow-x: hidden;
  height: 100%;
  contain: size style;
  transform: translate(0, 0, 0);
}

.chatWindow * {
  overflow-anchor: none;
}

.anchor {
  height: 1px;
  overflow-anchor: auto;
}

.inner {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  min-height: calc(100% - 1px);
}
