.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: var(--background-secondary);
  border-radius: 10px;
}

.greetings {
  font-weight: 500;
  font-size: 18px;
}
