.wrapper {
  max-height: calc(100vh - var(--window-margin) * 2);
  padding: 20px;
  background: var(--background-secondary);
  border-radius: 10px;
  display: grid;
  grid-template-rows: 1fr auto;
  gap: 10px;
}

.userInfoWrapper {
  user-select: none;
  cursor: default;
  display: flex;
  gap: 20px;
  min-width: max-content;
}

.content {
  overflow-y: auto;
  padding-right: 10px;
}

.username {
  font-size: 22px;
  font-weight: 500;
  color: var(--gray-200);
}

.username span {
  font-size: 24px;
  font-weight: 600;
  color: var(--purple-400);
}

.registerDate {
  font-size: 15px;
}

.registerDate span {
  font-weight: 500;
  color: var(--gray-200);
}

.wrapper section {
  margin: 20px 0;
  padding: 10px 0;
  cursor: default;
  user-select: none;
}

.wrapper section h2 {
  padding-bottom: 10px;
}

.infoChanger:not(:first-of-type) {
  margin-top: 15px;
}

.infoChanger {
  display: flex;
  gap: 10px;
}

.infoChanger h4 {
  margin-bottom: 5px;
}

.userTag {
  color: var(--gray-400);
  font-size: 16px;
  margin-left: 10px;
  padding-left: 10px;
  border-left: 2px solid var(--background-light);
}

.infoChangerBlock {
  flex: 1;
}

.saveButtonWrapper {
  animation: saveButtonShows 0.2s forwards;
}

@keyframes saveButtonShows {
  from {
    transform: translateY(10vh);
  }
  to {
    transform: translateY(0);
  }
}

@media screen and (max-width: 970px) {
  .infoChanger {
    flex-direction: column;
  }
}
