.input {
  background: var(--background-darker);
  padding: 5px 10px;
  border: 2px solid var(--background-light);
  font-size: 15px;
  border-radius: 10px;
  transition: 0.2s;
  width: 100%;
  min-width: max-content;
}

.input::placeholder {
  color: var(--background-inactive);
}

.input:active,
.input:focus {
  border: 2px solid var(--purple-500);
}

.inputTitle {
  color: var(--gray-400);
  text-transform: uppercase;
  font-size: 14px;
  margin-bottom: 5px;
}

.inputTitleError {
  color: var(--error-400);
  text-transform: uppercase;
  font-size: 14px;
  margin-bottom: 5px;
}