.formWrapper:not(:first-of-type) {
  margin-top: 15px;
}

.formWrapper {
  display: flex;
  gap: 10px;
}

.formWrapper h4 {
  margin-bottom: 5px;
}

.userTag {
  color: var(--gray-400);
  font-size: 16px;
  margin-left: 10px;
  padding-left: 10px;
  border-left: 2px solid var(--background-light);
}

.formBlock {
  flex: 1;
}
