.wrapper {
  position: relative;
}

.previewEmoji {
  font-size: 20px;
  cursor: pointer;
  filter: grayscale(100%);
  transition: 0.1s;
}

.previewEmoji:hover,
.previewEmoji.open {
  transform: scale(1.2);
  filter: grayscale(0);
}

.menuWrapper {
  position: fixed;
  contain: content;
  animation: open 0.2s forwards;
}

@keyframes open {
  0% {
    transform: translateY(10%);
  }
  100% {
    transform: translateY(0%);
  }
}
