.wrapper {
  padding: 3px 6px;
  border-radius: 5px;
  background: var(--background-tooltip);
  text-align: center;
  word-break: normal;
  z-index: 10000;
}

.wrapper::before {
  content: '';
  display: block;
  width: 0;
  height: 0;
  position: absolute;
}

.top::before {
  border-right: 6px solid transparent;
  border-left: 6px solid transparent;
  border-top: 6px solid var(--background-tooltip);
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
}

.right::before {
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
  border-right: 6px solid var(--background-tooltip);
  left: -6px;
  top: 50%;
  transform: translateY(-50%);
}

.bottom::before {
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 6px solid var(--background-tooltip);
  top: -6px;
  left: 50%;
  transform: translateX(-50%);
}

.left::before {
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
  border-left: 6px solid var(--background-tooltip);
  right: -6px;
  top: 50%;
  transform: translateY(-50%);
}
