.content {
  margin-top: 2px;
}

.content,
.content > * {
  white-space: pre-wrap;
  overflow-wrap: anywhere;
  max-width: max-content;
}

.content,
.content * {
  user-select: text !important;
  line-height: 21px;
}
