.attachmentImage {
  display: block;
  height: 300px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
  opacity: 0;
  transition: 0.5s opacity;
}

.loadedImage,
.failedImage {
  opacity: 1;
}

.loadedImage {
  min-width: 100px;
  max-width: min(
    400px,
    calc(100vw - var(--window-margin) * 2 - var(--main-side-panel-width) * 2 - var(--chats-list-width) - 50px) - 75px
  );
  max-height: 300px;
  height: auto;
}

.failedImage {
  width: 350px;
  height: 150px;
  border-radius: 5px;
  color: #fff;
  background: linear-gradient(to right, #a8c0ff, #3f2b96);
  background-size: 600% 600%;
  animation: gradient 15s linear infinite;
  user-select: none;
}

.img {
  border-radius: 100px;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
