.wrapper {
  width: 950px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.channelName {
  font-size: 24px;
  font-weight: 600;
  color: var(--primary-500);
}

.mainSettings {
  display: flex;
  gap: 20px;
}

.flex {
  flex: 1;
}
