.message {
  display: flex;
  padding: 5px 10px;
  border-radius: 10px;
  position: relative;
}

.message * {
  user-select: none;
}

.message:hover {
  background: var(--background-dark);
}

.timestampWrapper {
  max-height: 20px;
}

.short .timestampWrapper {
  opacity: 0;
}

.short:hover .timestampWrapper {
  opacity: 1;
}

.timestamp {
  width: 33px;
  font-size: 12px;
  margin-top: 2px;
  color: var(--gray-400);
}

.inner {
  margin-left: 10px;
}

.contextMenu {
  display: none;
  position: absolute;
  right: 30px;
  top: 0;
  transform: translateY(-50%);
  background: var(--background-dark);
}

.contextButton {
  height: 30px;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--gray-100);
  cursor: pointer;
}

.contextMenu,
.contextButton {
  border-radius: 5px;
}

.contextButton:hover {
  background: var(--background-inactive);
}

.message:hover .contextMenu {
  display: flex;
}

.delete {
  color: var(--error-400);
}
