.message {
  display: flex;
  padding: 5px 10px;
  border-radius: 10px;
  position: relative;
}

.message * {
  user-select: none;
}

.message:hover {
  background: var(--background-dark);
}

.timestampWrapper {
  max-height: 20px;
}

.short .timestampWrapper {
  opacity: 0;
}

.short:hover .timestampWrapper {
  opacity: 1;
}

.timestamp {
  width: 33px;
  font-size: 12px;
  margin-top: 2px;
  color: var(--gray-400);
}

.inner {
  margin-left: 10px;
}

.contextMenu {
  display: none;
}

.message:hover .contextMenu {
  display: flex;
}
