.categoryBlock {
  position: relative;
  contain: content;
}

.categoryBlock:not(:last-of-type) {
  margin-bottom: 15px;
}

.categoryName {
  padding: 5px 0;
  font-weight: 500;
  font-size: 16px;
  background: var(--background-dark);
  position: sticky;
  top: 0;
}

.categoryContent {
  display: flex;
  flex-wrap: wrap;
}
